################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoListWebApi/TodoListWebApi/LocalDatabase.db
/TodoListWebApi/TodoListWebApi/LocalDatabase.db-wal
/TodoListWebApi/TodoListWebApi/LocalDatabase.db-shm
